/*//////////////////////////// Fonts ////////////////////////////*/

/* Raleway-reg */
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('☺'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype'), url('../fonts/Raleway-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Raleway-bold */
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: local('☺'), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

/* Comfortaa-reg */
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa-Regular.eot');
	src: local('☺'), url('../fonts/Comfortaa-Regular.woff') format('woff'), url('../fonts/Comfortaa-Regular.ttf') format('truetype'), url('../fonts/Comfortaa-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Comfortaa-bold */
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa-Bold.eot');
	src: local('☺'), url('../fonts/Comfortaa-Bold.woff') format('woff'), url('../fonts/Comfortaa-Bold.ttf') format('truetype'), url('../fonts/Comfortaa-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}



/*//////////////////////// Style elements null ///////////////////////////////////////*/
* {padding: 0;margin: 0;border: 0;}
*,*::before,*::after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav,footer,header,aside{display: block;}
html, body {height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input, textarea, button {font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1, h2, h3, h4, h5, h6{font-size: inherit;font-weight: 400;}

/* ////////////////////////////////// Styles ///////////////////////////////// */

body {
    font-family: 'Raleway', 'Comfortaa';
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Стилизация навбара */
.navbar {
    position:relative;
    display: flex;
    z-index: 2;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.logo {
    display: flex;
    align-items: center;
    height: 80px;
    position: relative;
    align-items: center;
    padding: 0 0 0 70px;
    z-index: 3;
}

.logo:hover {
    height: 100%;
    border-bottom: 3px solid rgb(252, 120, 3);   
}

.logo:hover .logo__link {
    color: rgb(252, 120, 3);
}

.logo::before {
    content: '';
    -webkit-mask-size:contain ;
    -webkit-mask-image: url(../img/logoico.svg);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    position: absolute;
    background-color: #fff;
    height: 40px;
    width: 40px;
    left: 15px;
}

.logo:hover::before {
    background-color: rgb(252, 120, 3);
}

.search-btn{
    height: 24px;
    fill: white;
}

.search-btn:hover{
    cursor: pointer;
    fill: rgb(252, 120, 3);
}

.menu__item-link, .logo__link {
    font-size: 24px;
    color: white;
}

.menu__item{
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 30px 0 0;
}

.menu__item:hover{
    margin: 0 30px 0 0;
    border-bottom: 4px solid rgb(252, 120, 3);
}

.menu__item:hover .menu__item-link{
    color: rgb(252, 120, 3);
}

.menu__item:nth-child(3){
    margin: 0 200px 0 0;
}

.menu__item_dropdown{
    position: relative;
}

.menu__item:hover .menu__item_dropdown::after {
 background-color: rgb(252, 120, 3);   
}

.menu__item_dropdown::after {
    content: '';
    -webkit-mask-size:contain ;
    -webkit-mask-image: url(../img/drop-down-button.svg);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    background-color: #fff;
    height: 13px;
    width: 13px;
    right: -15px;
    top: 6px;
    position: absolute;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4D4A4A;
    z-index: 2;
}

/* стилизация бургера */

.navbar__burger {
    display: none;
}

.navbar__burger-menu {
    display: none;
}

.navbar__list {
    display: flex;
    flex-direction: row;
}

.menu__item-link-burger{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

/* конец навбара */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container__dumplings-navigation {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 215px);
    row-gap: 30px;
    column-gap: auto;
    width: 100%;
    padding: 30px 20px;
    justify-content: center;
}

.container__dumpling {
    background-color: #C4C4C4;
    height: 190px;
    width: 240px;
    margin: 25px auto ;
}

.container__our-taglain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 980px;
    width: 100%;
    padding: 80px 0 0 0;
    background: rgb(48,69,2);
    background: linear-gradient(147deg, rgba(48,69,2,0.989233193277311) 0%, rgba(9,121,63,0.969625350140056) 35%, rgba(9,121,63,0.8883928571428571) 70%, rgba(34,36,0,1) 100%);
}

.container_taglain{
    font-size: 64px;
    text-transform: uppercase;
    width: 90%;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}

.footer-wrapper {
    background-color: #4D4A4A ;
    height: 100px;
}

.recipe__recipe-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 100%;
    background-color: #fff;
}

.recipe__recipe-slider {
    background-color: darkslategrey;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 400px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.recipe__recipe-block {
    background-color: #C4C4C4;
    height: 190px;
    width: 240px;
    margin: 25px auto;
}

@media(max-width:1366px) {
    .last-modal-elem {
        display: none;
    }

    .recipe__recipe-block {
        height: 175px;
        width: 225px;
    }

    .navbar {
        justify-content: start;
    }

    .logo {
        margin: 0 20px 0 0 ;
    }

    .search{
        margin: 0 20px 0 auto;
    }
    
} 

@media(max-width:768px) {
    .navbar {
        z-index:unset ;
        height: 50px;
    }
    
    .menu {
        display: none;
    }

    .search { 
        display: none;
    }
    /* Рисуем бургер */
    .navbar__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .navbar__burger span{
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        top: 9px;
    }

    .navbar__burger::before,
    .navbar__burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    
    .navbar__burger::before {
        top:0;
    }
    
    .navbar__burger::after {
        bottom: 0;
    }
    /* Нарисовали */
    /* Наполнение бургера */

    .navbar__burger-menu{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(148, 120, 100);
        z-index: 1;
    }

    .logo::before {  
        height: 34px;
        width: 34px;
        left: 15px;
    }
} 